<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="productService" class="com.xabaohui.modules.product.service.ProductService" scope="prototype">
		
	</bean>
	
	<bean id="categoryAction" class="com.action.CategoryAction" scope="prototype">
		<property name="productService" ref="productService"></property>
	</bean>
	<bean id="productAction" class="com.action.ProductAction" scope="prototype">
		<property name="productService" ref="productService"></property>
	</bean>
	<bean id="modelAction" class="com.action.ModelAction" scope="prototype">
		<property name="productService" ref="productService"></property>
	</bean>
</beans>